<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Audio Aura - Mood Music</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../public/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../public/assets/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template  -->
    <link href="../public/assets/css/sb-admin.css" rel="stylesheet">
     <link href="css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/assets/css/audio_aura.css">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
	{{{ body }}}

	 <!-- Bootstrap core JavaScript -->
    <script src="../public/assets/jquery/jquery.min.js"></script>
    <script src="../public/assets/popper/popper.min.js"></script>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../public/assets/jquery-easing/jquery.easing.min.js"></script>
    <script src="../public/assets/chart.js/Chart.min.js"></script>
    <script src="../public/assets/datatables/jquery.dataTables.js"></script>
    <script src="../public/assets/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../public/assets/js/sb-admin.min.js"></script>
</body>

</html>